

body{
  font-family:'Inter',sans-serif;
  background:#0a0a0a;
  color:#e6eef8;
  margin:0;
  transition:background 0.3s,color 0.3s;
  text-align:center;
  overflow-x:hidden;
  position:relative;
    font-family: "Badeen Display", system-ui;
}

/* Starfield canvas */
#starCanvas{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:-1;
  background:#0a0a0a;
}

/* Card */
.card{
  border-radius:24px;
  box-shadow:0 12px 28px rgba(255,255,255,0.05);
   background:rgba(33, 33, 33, 0.85);
  transition:all 0.3s;
  color:#e6eef8;
  backdrop-filter: blur(10px);
}

.header{
  
  box-shadow:0 12px 28px rgba(255,255,255,0.05);
  background:rgba(33, 33, 33, 0.85);
  transition:all 0.3s;
  color:#e6eef8;
  backdrop-filter: blur(10px);
}



/* Tasbeh word */
#tasbehWord{
  font-size:2rem;
  font-weight:700;
  margin-bottom:20px;
  color:#fbbf24;
  
}

/* Click button */
#clickBtn{
  width:200px;
  height:200px;
  border-radius:50%;
  border:none;
  font-size:1.5rem;
  font-weight:700;
  cursor:pointer;
  background:linear-gradient(145deg,#294f00,#0d3500);
  color:#111;
  transition:all 0.2s, transform 0.1s;
  box-shadow: 0 2px 6px rgba(11, 11, 11, 0.458);
  
}


#clickBtn:active {
  transform: scale(0.97);
  box-shadow: 0 2px 0 #151515;
  transition: 1s;
}

#resetBtn {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 12px;
  background: #ef4444;
  color: #fff;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

#resetBtn:hover {
  background: #dc2626;
  transform: scale(1.05);
}


/* Counter */
#totalCount{
  font-size:42px;
  margin-top:12px;
  font-weight:600;
  
}

/* Responsive */
@media(max-width:500px){
  #clickBtn{
    width:160px;
    height:160px;
    font-size:1.2rem;
  }

  #tasbehWord{
    font-size:1.5rem;
  }
}
